<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    <link href="styles/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="thToDo">
    <h1>My TODOs</h1>
    <div ng-controller="mainCtrl" class="list">
        <input type="checkbox" />
        <label class="editing-label" ng-click="helloWorld()">A sample todo</label><!--displays the value of the todo-->
        <input class="editing-label" type="text" /><!--change the value of the todo-->

        <div class="actions" ng-controller="coolCtrl">
            <a href="" ng-click="whoAmI()">edit</a>
            <a href="" ng-click="helloWorld()">save</a>
            <a href="" class="delete">delete</a>
        </div>
    </div>
    <div ng-controller="imASibling">
        {{foobar}}
    </div>

    <!-- This can also be used as a attribute to an html element
    <div hello-world></div>
    -->

    <script src="vendor/angular.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
    <!--<script src="scripts/hello-world.js" type="text/javascript"></script>-->


</body>
</html>